.calculator__input-group {
  margin-bottom: 20px;
}

.calculator__operators {
  margin-top: 20px;
  margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}